<h1><%= "#{@team.location} #{@team.name}" %></h1>

<h3>Games</h3>

<ul>
  <% (2001..2016).to_a.reverse.each do |season| %>
    <% if @games.pluck(:season).include?(season) %>
      <li>
        <h4><%= link_to season, games_path(season: season) %></h4>
        <% @games.reverse.each do |game| %>
          <% if game.season == season %>
            <%= "Week #{game.week}: " %>
            <%= link_to "#{game.away_team.name}", team_path(game.away_team.id) %>
            <%= "#{game.away_score} at " %>
            <%= link_to "#{game.home_team.name}", team_path(game.home_team.id) %>
            <%= "#{game.home_score}" %>
            <% if game.overtime? %>
              <span> (OT)</span>
            <% end %>
            <% if !game.stat.nil? %>
              <%= link_to "Stats", game_path(game.id) %>
            <% elsif user_signed_in? && ((current_user.id == game.user_id) || current_user.admin?) %>
              <%= link_to "Add Stats", new_game_stat_path(game.id) %>
            <% end %>
            <% if user_signed_in? && ((current_user.id == game.user_id) || current_user.role == "admin") %>
              <br /><%= link_to "Edit Game", edit_game_path(game.id) %>
              <%= button_to "Delete Game", game, method: :delete %>
            <% end %>
            <br />
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
