<div id="team" class="text">
  <h1><%= "#{@team.location} #{@team.name} " %><%= image_tag "#{@team.abbreviation}.jpg", size: "50x35" %></h1>
</div>

<div id="games">
  <h3 class="text">Games</h3>

  <ul>
    <% (2001..2016).to_a.reverse.each do |season| %>
      <% if @games.pluck(:season).include?(season) %>
        <li>
          <h4 class="text"><%= link_to season, games_path(season: season) %></h4>
          <table>
            <% @games.reverse.each do |game| %>
              <% if game.season == season %>
                <tr class="row">
                  <td class="small-1 large-1 columns wide"><%= "Week #{game.week}" %></td>
                  <td class="small-1 large-1 columns wide"><%= link_to game.away_team.name, team_path(game.away_team.id) %></td>
                  <td class="small-1 large-1 columns narrow"><%= game.away_score %></td>
                  <td class="small-1 large-1 columns narrow">at</td>
                  <td class="small-1 large-1 columns wide"><%= link_to game.home_team.name, team_path(game.home_team.id) %></td>
                  <td class="small-1 large-1 columns narrow"><%= game.home_score %></td>
                  <td class="small-1 large-1 columns narrow">
                    <% if game.spread >= 0 %>
                      <%= "(+#{game.spread})" %>
                    <% else %>
                      <%= "(#{game.spread})" %>
                    <% end %>
                  </td>
                  <td class="small-1 large-1 columns narrow">
                    <% if game.overtime? %>
                      <span> (OT)</span>
                    <% end %>
                  </td>
                  <td class="small-1 large-1 columns wide"><%= link_to "Game Details", game_path(game.id) %></td>
                  <% if user_signed_in? && ((current_user.id == game.user_id) || current_user.role == "admin") %>
                    <td class="small-1 large-1 columns wide"><%= link_to "Edit Game", edit_game_path(game.id) %></td>
                    <td class="small-1 large-1 columns wide"><%= button_to "Delete Game", game, method: :delete %></td>
                    <td class="small-1 large-1 columns wide">
                      <% if game.stat.nil? %>
                        <%= link_to "Add Stats", new_game_stat_path(game.id) %>
                      <% end %>
                    </td>
                  <% else %>
                    <td class="small-1 large-1 columns wide"></td><td class="small-1 large-1 columns wide"></td><td class="small-1 large-1 columns wide"></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
