<h1>Edit Game</h1>

<h3>
  <%= link_to @header_season, games_path(season: @header_season) %>
  <%= "Week #{@header_week}: "%>
  <%= link_to @header_away_team.name, team_path(@header_away_team.id) %>
  <%= " #{@header_away_score} at "%>
  <%= link_to @header_home_team.name, team_path(@header_home_team.id) %>
  <%= " #{@header_home_score}" %>
  <% if @header_overtime %>
    <span> (OT)</span>
  <% end %>
</h3>

<% @game.errors.full_messages.each do |error| %>
  <% if !error.include?("team must exist") %>
    <%= error %><br />
  <% end %>
<% end %>

<%= render 'form' %>
