<h1>
  <%= link_to @game.season, games_path(season: @game.season) %>
  <%= "Week #{@game.week}: "%>
  <%= link_to ("#{@game.away_team.location} #{@game.away_team.name}"), team_path(@game.away_team.id) %>
  <%= " #{@game.away_score} at "%>
  <%= link_to ("#{@game.home_team.location} #{@game.home_team.name}"), team_path(@game.home_team_id) %>
  <%= " #{@game.home_score}" %>
</h1>
<% if user_signed_in? && ((current_user.id == @game.user_id) || current_user.role == "admin") %>
  <br /><%= link_to "Edit Game", edit_game_path(@game.id) %>
  <%= button_to "Delete Game", @game, method: :delete %>
<% end %>

<p>
  <span>Betting Line: </span>
  <% if @game.spread < 0 %>
    <%= "#{@game.home_team.abbreviation} #{@game.spread}" %>
  <% elsif @game.spread > 0 %>
    <%= "#{@game.away_team.abbreviation} -#{@game.spread}" %>
  <% else %>
    <span>PICK</span>
  <% end %>
</p>
<p>
  <span>Winner (against the spread): </span>
  <% if (@game.away_score - @game.home_score) > @game.spread %>
    <%= @game.away_team.abbreviation %>
  <% elsif (@game.away_score - @game.home_score) < @game.spread %>
    <%= @game.home_team.abbreviation %>
  <% else %>
    <span>PUSH</span>
  <% end %>
</p>

<% if @game.stat.nil? %>
  <h3>
    No Stats Provided For This Game
    <% if user_signed_in? && ((current_user.id == @game.user_id) || current_user.admin?) %>
      <span><%= link_to "(Add Stats)", new_game_stat_path(@game.id) %></span>
    <% end %>
  </h3>
<% else %>
  <table>
    <hr>
    <tr>
      <th></th>
      <th><%= "#{@game.away_team.name}" %></th>
      <th><%= "#{@game.home_team.name}"%></th>
    </tr>
    <tr>
      <td>Total Plays</td>
      <td><%= @game.stat.away_plays %></td>
      <td><%= @game.stat.home_plays %></td>
    </tr>
    <tr>
      <td>Total Yards</td>
      <td><%= @game.stat.away_yards %></td>
      <td><%= @game.stat.home_yards %></td>
    </tr>
    <tr>
      <td>Yards per Play</td>
      <td><%= '%.1f' % (@game.stat.away_yards.to_f/@game.stat.away_plays) %></td>
      <td><%= '%.1f' % (@game.stat.home_yards.to_f/@game.stat.home_plays) %></td>
    </tr>
    <tr class="blank_row">
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>Rushing Attempts - Yards</td>
      <td><%= "#{@game.stat.away_rushes} -  #{@game.stat.away_rushing_yards}" %></td>
      <td><%= "#{@game.stat.home_rushes} -  #{@game.stat.home_rushing_yards}" %></td>
    </tr>
    <tr>
      <td>Yards per Rush</td>
      <td><%= '%.1f' % (@game.stat.away_rushing_yards.to_f/@game.stat.away_rushes) %></td>
      <td><%= '%.1f' % (@game.stat.home_rushing_yards.to_f/@game.stat.home_rushes) %></td>
    </tr>
    <tr class="blank_row">
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>Passing Completions / Attempts</td>
      <td><%= "#{@game.stat.away_completions} / #{@game.stat.away_passes}" %></td>
      <td><%= "#{@game.stat.home_completions} / #{@game.stat.home_passes}" %></td>
    </tr>
    <tr>
      <td>Passing Yards</td>
      <td><%= @game.stat.away_passing_yards %></td>
      <td><%= @game.stat.home_passing_yards %></td>
    </tr>
    <tr>
      <td>Yards per Pass</td>
      <td><%= '%.1f' % (@game.stat.away_passing_yards.to_f/@game.stat.away_passes) %></td>
      <td><%= '%.1f' % (@game.stat.home_passing_yards.to_f/@game.stat.home_passes) %></td>
    </tr>
    <tr class="blank_row">
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>3rd Down Efficiency</td>
      <td><%= "#{@game.stat.away_third_down_conversions} / #{@game.stat.away_third_down_attempts}" %></td>
      <td><%= "#{@game.stat.home_third_down_conversions} / #{@game.stat.home_third_down_attempts}" %></td>
    </tr>
    <tr>
      <td>Fumbles (Lost)</td>
      <td><%= "#{@game.stat.away_fumbles} (#{@game.stat.away_fumbles_lost})" %></td>
      <td><%= "#{@game.stat.home_fumbles} (#{@game.stat.home_fumbles_lost})" %></td>
    </tr>
    <tr>
      <td>Interceptions Thrown</td>
      <td><%= @game.stat.away_interceptions %></td>
      <td><%= @game.stat.home_interceptions %></td>
    </tr>
    <tr>
      <td>Turnovers</td>
      <td><%= (@game.stat.away_fumbles_lost + @game.stat.away_interceptions) %></td>
      <td><%= (@game.stat.home_fumbles_lost + @game.stat.home_interceptions) %></td>
    </tr>
    <tr>
      <td>Penalties (Yards)</td>
      <td><%= "#{@game.stat.away_penalties} (#{@game.stat.away_penalty_yards})" %></td>
      <td><%= "#{@game.stat.home_penalties} (#{@game.stat.home_penalty_yards})" %></td>
    </tr>
    <tr>
      <td>Time of Possession</td>
      <td><%= @game.stat.away_time_of_possession %></td>
      <td><%= @game.stat.home_time_of_possession %></td>
    </tr>

  </table>
  <% if user_signed_in? && ((current_user.id == @game.user_id) || current_user.admin?) %>
    <%= link_to "Edit Stats", edit_game_stat_path(@game.id, @game.stat.id) %>
  <% end %>
<% end %>
