<h1><%= "Stats (#{@season})" %></h1>
<h5><i>(Games where no stats have been added are not included)</i></h5>

<%= form_for "Season", url: stats_path, method: :get do |f| %>
  <%= f.select :season, @season_collection, selected: @season %>
  <%= f.submit "Submit" %>
<% end %>

<strong><%= @side.capitalize %></strong><br/>
<% if @side == "offense" %>
  <% new_side = "defense" %>
<% else %>
  <% new_side = "offense" %>
<% end %>
  <%= link_to "View #{new_side[0,new_side.length-1].capitalize}ive Stats", side: new_side, season: @season %>
<table>
  <tr>
    <% @categories.each do |category| %>
      <th><%= link_to category[0], sort: category[1], side: @side, current_sort: @sort, order: @order, season: @season %></th>
    <% end %>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team.id) %></td>
      <td><%= team.games(@season) %></td>
      <td><%= team.points(@season,@side) %></td>
      <td><%= '%.1f' % (team.points_per_game(@season,@side)) %></td>
      <td><%= team.plays(@season,@side) %></td>
      <td><%= '%.1f' % (team.plays_per_game(@season,@side)) %></td>
      <td><%= team.yards(@season,@side) %></td>
      <td><%= '%.1f' % (team.yards_per_game(@season,@side)) %></td>
      <td><%= '%.1f' % (team.yards_per_play(@season,@side)) %></td>
      <td><%= team.third_down_conversions(@season,@side) %></td>
      <td><%= team.third_down_attempts(@season,@side) %></td>
      <td><%= '%.0f' % (team.third_down_percentage(@season,@side)) %></td>
      <td><%= team.penalties(@season,@side) %></td>
      <td><%= team.penalty_yards(@season,@side) %></td>
      <td><%= team.penalty_yards_per_game(@season,@side) %></td>
      <td><%= team.fumbles(@season,@side) %></td>
      <td><%= team.fumbles_lost(@season,@side) %></td>
      <td><%= team.interceptions(@season,@side) %></td>
      <td><%= team.turnovers(@season,@side) %></td>
      <td><%= team.turnovers_per_game(@season,@side) %></td>
    </tr>
  <% end %>
</table>
