<h1>Stats</h1>
<h5><i>(Games where no stats have been added are not included)</i></h5>

<table>
  <tr>
    <th><%= link_to "Team", sort: "name" %></th>
    <th><%= link_to "G", sort: "games" %></th>
    <th><%= link_to "Points", sort: "points" %></th>
    <th><%= link_to "Pts/Gm", sort: "points_per_game" %></th>
    <th><%= link_to "Plays", sort: "plays" %></th>
    <th><%= link_to "Plays/Gm", sort: "plays_per_game" %></th>
    <th><%= link_to "Yards", sort: "yards" %></th>
    <th><%= link_to "Yds/Gm", sort: "yards_per_game" %></th>
    <th><%= link_to "Yds/Play", sort: "yards_per_play" %></th>
    <th><%= link_to "3rd Conv", sort: "third_down_conversions" %></th>
    <th><%= link_to "3rd Att", sort: "third_down_attempts" %></th>
    <th><%= link_to "3rd Pct", sort: "third_down_percentage" %></th>
    <th><%= link_to "Penalties", sort: "penalties" %></th>
    <th><%= link_to "Pen Yards", sort: "penalty_yards" %></th>
    <th><%= link_to "Pen Yds/G", sort: "penalty_yards_per_game" %></th>
    <th><%= link_to "Fumbles", sort: "fumbles" %></th>
    <th><%= link_to "Fum Lost", sort: "fumbles_lost" %></th>
    <th><%= link_to "INT Thrown", sort: "interceptions" %></th>
    <th><%= link_to "Turnovers", sort: "turnovers" %></th>
    <th><%= link_to "TO/G", sort: "turnovers_per_game" %></th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team.id) %></td>
      <td><%= team.games %></td>
      <td><%= team.points %></td>
      <td><%= '%.1f' % (team.points_per_game) %></td>
      <td><%= team.plays %></td>
      <td><%= '%.1f' % (team.plays_per_game) %></td>
      <td><%= team.yards %></td>
      <td><%= '%.1f' % (team.yards_per_game) %></td>
      <td><%= '%.1f' % (team.yards_per_play) %></td>
      <td><%= team.third_down_conversions %></td>
      <td><%= team.third_down_attempts %></td>
      <td><%= '%.0f' % (team.third_down_percentage) %></td>
      <td><%= team.penalties %></td>
      <td><%= team.penalty_yards %></td>
      <td><%= team.penalty_yards_per_game %></td>
      <td><%= team.fumbles %></td>
      <td><%= team.fumbles_lost %></td>
      <td><%= team.interceptions %></td>
      <td><%= team.turnovers %></td>
      <td><%= team.turnovers_per_game %></td>
    </tr>
  <% end %>
</table>
