<div class="text">
  <div class="row">
    <div class="small-2 large-2 columns left stats">
      <strong><%= @side.capitalize %></strong><br/>
      <% if @side == "offense" %>
        <% new_side = "defense" %>
      <% else %>
        <% new_side = "offense" %>
      <% end %>
      <%= link_to "View #{new_side[0,new_side.length-1].capitalize}ive Stats", side: new_side, season: @season_stats %>
    </div>
    <div class="small-4 large-8 columns center stats">
      <h2><%= "Stats" %></h2>
      <h5><i>(Games where no stats have been added are not included)</i></h5>
    </div>
    <div class="small-2 large-2 columns right stats">
      <%= form_for "season_stats", url: stats_path, method: :get do |f| %>
        <%= f.select :season, @season_stats_collection, selected: @season_stats %>
        <%= f.submit "Submit", class: "btn" %>
      <% end %>
    </div>
  </div>

  <h3 align="center"><%= @season_stats %></h3>
</div>

<table id="stats", class=<%= @sort %>>
  <tr>
    <% @categories.each do |category| %>
      <th><%= link_to category[0], sort: category[1], side: @side, current_sort: @sort, order: @order, season: @season_stats %></th>
    <% end %>
  </tr>
  <% @teams.each do |team| %>
    <% if team.name == "Buccaneers" %>
      <% team_name = "Bucs" %>
    <% else %>
      <% team_name = team.name %>
    <% end %>
    <tr class="table_row">
      <td><%= link_to team_name, team_path(team.id), class: team_class(team) %></td>
      <td><%= team.games(@season_stats) %></td>
      <td><%= team.points(@season_stats,@side) %></td>
      <td><%= '%.1f' % (team.points_per_game(@season_stats,@side)) %></td>
      <td><%= team.plays(@season_stats,@side) %></td>
      <td><%= '%.1f' % (team.plays_per_game(@season_stats,@side)) %></td>
      <td><%= team.yards(@season_stats,@side) %></td>
      <td><%= '%.1f' % (team.yards_per_game(@season_stats,@side)) %></td>
      <td><%= '%.1f' % (team.yards_per_play(@season_stats,@side)) %></td>
      <td><%= team.rushes(@season_stats,@side) %></td>
      <td><%= team.rushing_yards(@season_stats,@side) %></td>
      <td><%= '%.1f' % (team.rushing_yards_per_game(@season_stats,@side)) %></td>
      <td><%= '%.1f' % (team.yards_per_rush(@season_stats,@side)) %></td>
      <td><%= team.completions(@season_stats,@side) %></td>
      <td><%= team.passes(@season_stats,@side) %></td>
      <td><%= '%.0f' % (team.completion_percentage(@season_stats,@side)) %></td>
      <td><%= team.passing_yards(@season_stats,@side) %></td>
      <td><%= '%.1f' % (team.passing_yards_per_game(@season_stats,@side)) %></td>
      <td><%= '%.1f' % (team.yards_per_pass(@season_stats,@side)) %></td>
      <td><%= team.third_down_conversions(@season_stats,@side) %></td>
      <td><%= team.third_down_attempts(@season_stats,@side) %></td>
      <td><%= '%.0f' % (team.third_down_percentage(@season_stats,@side)) %></td>
      <td><%= team.penalties(@season_stats,@side) %></td>
      <td><%= team.penalty_yards(@season_stats,@side) %></td>
      <td><%= team.penalty_yards_per_game(@season_stats,@side) %></td>
      <td><%= team.fumbles(@season_stats,@side) %></td>
      <td><%= team.fumbles_lost(@season_stats,@side) %></td>
      <td><%= team.interceptions(@season_stats,@side) %></td>
      <td><%= team.turnovers(@season_stats,@side) %></td>
      <td><%= team.turnovers_per_game(@season_stats,@side) %></td>
    </tr>
  <% end %>
</table>

<%= javascript_include_tag 'stat_columns' %>
