<div class="layout">
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-left">
        <h3 id="title" align="center"><%= link_to "NFL Statistics", root_path %></h3>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to 'Home', root_path, class: "header" %></li>
          <li><%= link_to 'Stats', stats_path(side: "offense"), class: "header" %></li>
          <li><%= link_to 'Standings', teams_path(standings: "2001-2016"), class: "header" %></li>
          <li>
            <% if user_signed_in? %>
              <li><%= link_to 'Add Game', new_game_path, class: "header" %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Users', users_path, class: "header" %></li>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_for :games_by_season, url: games_path, method: :get, id: "games_by_season", class: "header" do |f| %>
              <%= f.label :games_by_season, "Games by Season" %>
              <%= f.select :season, (["2001-2016"] + @season_collection), selected: @season_selected, include_blank: true %>
            <% end %>
          </li>
          <li>
            <%= form_for :teams, url: team_path("teams_dropdown"), method: :get, class: "header" do |f| %>
              <%= f.label :teams, "Teams" %>
              <%= f.select :name, @team_collection, selected: @team_name, include_blank: true %>
            <% end %>
          </li>
          <li>
            <ul class="menu vertical">
              <% if user_signed_in? %>
                <div class="profile_info">
                  <li>
                    <span class="user_name">
                      <%= current_user.first_name %> <%= current_user.last_name %>
                    </span>
                  </li>
                  <div class="profile">
                    <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  </div>
                  <li><%= link_to image_tag("#{current_user.team.abbreviation}.jpg", size: "70x50"), team_path(current_user.team.id) %></li>
                </div>
              <% else %>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
